.DS_Store
/.build
/Packages
/*.xcodeproj
Package.resolved
examples/all-signals
examples/sigrtmax
examples/sigrtmin
examples/test-array-func-handler
examples/test-func-handler
examples/test-ignore
examples/test-state
